<!DOCTYPE html>
<html>
<head>
  <title>Etsy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<br/>
<%= render 'layouts/header' %>

<div class="container">
 <% flash.each do |name, msg| %>
      <div class="alert alert-#{name}" role="alert"> <%=msg%> </div>
 <% end %>
</div>

<%= yield %>
<%= render 'layouts/footer' %>
</body>
</html>
